<html lang="en-US">
<head>
    <title>Survey Analysis</title>

        <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 

    <!-- https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/#3-pie-chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>

<body>
    <div class="container-md p-3 my-3 border bg-dark text-white " id="navbar-container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div style="width: 1%;"></div>
              <a class="navbar-brand" href="#">UOttawa Website Survey Analysis</a>
              <div style="width: 45%;"></div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ">
                <a class="nav-item nav-link active" href="#number">Student Numbers </a>
                <a class="nav-item nav-link active" href="#reform">Reform </a>
                <a class="nav-item nav-link active" href="#color">Colors </a>
                <a class="nav-item nav-link active" href="#dislike">Dislikes </a>
                <a class="nav-item nav-link active" href="#satisfaction">Satisfaction level </a>
                <a class="nav-item nav-link active" href="#comments">Comments </a>
              </div>
            </div>
          </nav>
    </div>

    <div class="container-md p-3 my-3 border bg-light text-black" id="number">     
        <h4>Student Numbers</h4>
        <div>
            <% for (var i=0; i<results[0].number.length; i++){ %>
                <li><%= results[0].number[i] %></li>
            <%}%>
        </div>
    </div>

    <div class="container-md p-3 my-3 border bg-light text-black" id="reform"> 
    <h4>Reform</h4>     
    <canvas id="pie-chart-reform" width="800" height="450"></canvas>
    </div>

    <div class="container-md p-3 my-3 border bg-light text-black" id="color">   
    <h4>Colors</h4>   
    <canvas id="pie-chart-color" width="800" height="450"></canvas>
    </div>

    <div class="container-md p-3 my-3 border bg-light text-black" id="dislike">
        <h4>Dislikes</h4>
        <canvas id="pie-chart-dislikes" width="800" height="450"></canvas>
    </div>

    <div class="container-md p-3 my-3 border bg-light text-black" id="satisfaction">  
    <h4>Satisfaction level</h4>    
    <canvas id="pie-chart-satisfaction" width="800" height="450"></canvas>
    </div>

    <div class="container-md p-3 my-3 border bg-light text-black" id="comments">
    <h4>Comments</h4> 
        <div>
            <% for (var i=0; i<results[0].comments.length; i++){ %>
                <li><%= results[0].comments[i] %></li>
            <%}%>
        </div>     
    </div>

        <!-- Footer -->
    <footer class="page-footer font-small container-md p-3 my-3 border bg-light text-black">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright: 
      <div class="footer-copyright text-center py-3">Site web conçu par Firas Jribi 
      </div>
      <!-- Copyright -->

    </footer>
</body>
</html>

<script type="text/javascript">
    //reform
new Chart(document.getElementById("pie-chart-reform"), {
    type: 'pie',
    data: {
      labels: ["yes", "no"],
      datasets: [{
        label: "Reform",
        backgroundColor: ["#008000", "#ed2939"],
        data: [<%= results[0].reform.yes %>,<%= results[0].reform.no %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Students asking for a website reform'
      }
    }
});

//color
new Chart(document.getElementById("pie-chart-color"), {
    type: 'pie',
    data: {
      labels: ["green", "blue", "orange"],
      datasets: [{
        label: "Color",
        backgroundColor: ["#008000", "#0000FF", "#FFA500"],
        data: [<%= results[0].color.green %>,<%= results[0].color.blue %>,<%= results[0].color.orange %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Website color suggestions'
      }
    }
});

//dislike
new Chart(document.getElementById("pie-chart-dislikes"), {
    type: 'pie',
    data: {
      labels: ["whole", "images", "fonts"],
      datasets: [{
        label: "Color",
        backgroundColor: ["#008000", "#0000FF", "#FFA500"],
        data: [<%= results[0].dislike.whole %>,<%= results[0].dislike.images %>,<%= results[0].dislike.fonts %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'What students disliked about the website'
      }
    }
});


//dislike
new Chart(document.getElementById("pie-chart-satisfaction"), {
    type: 'pie',
    data: {
      labels: ["1", "2", "3", "4", "5"],
      datasets: [{
        label: "Color",
        backgroundColor: ["#008000", "#0000FF", "#FFA500", "#ed2939","#999999"],
        data: [<%= results[0].satisfaction.one %>,<%= results[0].satisfaction.two %>,<%= results[0].satisfaction.three %>,<%= results[0].satisfaction.four %>,<%= results[0].satisfaction.five %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'level of satisfaction of the students with the website'
      }
    }
});

</script>